<footer class="bg-[#003936]">
  <div class="max-w-[90rem] mx-auto">
    <div
      class="pl-[127px] pr-[63px] py-[70px] flex justify-between items-center"
    >
      <div>
        <div class="flex items-center">
          <h1 class="uppercase text-[#3BC853] font-semibold text-[33px]">
            AniLand
          </h1>
          <div
            class="w-[91px] border-[1px] rotate-90 border-[#555555]/50 rounded"
          >
          </div>
          <div class="text-[16px] flex flex-col gap-[7px] text-[#BDBDBD]">
            <nav class="flex gap-[35px]">
              <a
                class="transition ease-in-out hover:text-[#3BC853] duration-300"
                href="/collections">Collections</a
              >
              <a
                class="transition ease-in-out hover:text-[#3BC853] duration-300"
                href="/blogs">Blogs</a
              >
              <a
                class="transition ease-in-out hover:text-[#3BC853] duration-300"
                href="/about-us">About Us</a
              >
            </nav>
            <div class="">@Aniland 2024. Сергазиев Алихан</div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <img src="" alt="" />
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</footer>
